// Header

.wrapper-header
	relative: top left right
	z-index 20
	
	background-color color-light
	
	box-shadow 0 0 2px 4px alpha(color-dark, .35 )
	
	// header fixed below scroll bar fix
	transform translate3d(0, 0px, 0px)

.header
	position relative
	background-color color-primary