/**
 * Detectable browsers and mobile OS
 * 
 * 
 * Synopsis:
 * 
 * 		.[browsername/os/device]	
 * 
 * Example:
 * 	
 * 	[browser]
 * 		.chrome
 * 		.firefox
 * 		.ie
 * 		.edge
 * 		.safari
 * 		.opera
 * 		.operamini
 * 
 * [os/devices]
 * 		.win
 * 		.osx
 * 		.ubuntu
 * 		.ios
 * 		.android
 * 		.blackberry
 * 
 */


