// table container

.table
	width 100%
	display table
	margin-bottom 24px
	
	&-row
		display table-row
	
	&-cell
		vertical-align middle
		display table-cell
		
	&-stripe
		tbody tr:nth-of-type(odd)
			background-color grey-300