// Helpers class

.hidden
	display none !important
	visibility hidden !important
	
.visible
	display inherit
	visibility visible
	
.hidden-visibility
	visibility hidden
	opacity 0
	
.breakline
	display block

.link
	color inherit
	cursor pointer
	text-decoration underline

.align-middle
	display inline-block
	height 100%
	vertical-align middle	
	
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right

.img-responsive
	display block
	height auto
	margin-bottom 0
	width 100%

.overflow
	overflow hidden
	
::selection
	background-color #c6c7c8
	color #000