// Breadcrumbs 

.breadcrumbs
	display block
	position relative
	margin-bottom 24px
	padding 0
	text-align left
	clearfix()
	li
		float left
		margin-right 4px
		
		&:first-child:before
			display none
		
		&:before
			content "/\00a0"
			color gray-500
			padding 0 4px
		
		span
			display inline-block
			vertical-align middle