// Bullets

.bullets
	display block
	position relative
	text-align center
	box-sizing border-box
	padding 4px 10px
	.bullet
		text-decoration none
		size: 12px
		border-radius 100%
		background-color lighten(color-dark, 40%)
		display inline-block
		margin 0 2px
		transition all ease-out .3s
		cursor pointer
		&.active
		&:hover
			background-color color-dark
			
		
		