// Animate main class
.animate
	animation-duration 1s
	animation-fill-mode both
	
	&-reverse
		animation-direction reverse
		
	&.infinite
		animation-iteration-count infinite
	
	&.hinge
		animation-duration 2s