

// moveUp
.moveUp
	transform none
	&.go
		animation-name moveUp

@keyframes moveUp
	0%
		transform none
	100%
		transform translate3d(0, -100%, 0)

// 	moveDown	
.moveDown
	transform none
	&.go
		animation-name moveDown

@keyframes moveDown
	0%
		transform none
	100%
		transform translate3d(0, 100%, 0)
		
// 	moveLeft	
.moveLeft
	transform none
	&.go
		animation-name moveLeft

@keyframes moveLeft
	0%
		transform none
	100%
		transform translate3d( -100%, 0, 0)

// 	moveRight	
.moveRight
	transform none
	&.go
		animation-name moveRight

@keyframes moveRight
	0%
		transform none
	100%
		transform translate3d(100%, 0, 0)