/**
 * Fonts call
 * 
 * Example:
 * 
 * 	@font-face
 * 		font-family 'fontName'
 * 		font-source: 'url/to/path'
 * 
 * 
 */

// font face

// font functions
font-default()
	font-family 'Raleway'
	font-weight 400

font-thin()
	font-family 'Raleway'
	font-weight 100

font-light()
	font-family 'Raleway'
	font-weight 300
	
font-bold()
	font-family 'Raleway'
	font-weight 700

font-maven()
	font-family 'Maven Pro'
	font-weight 400

font-maven-medium()
	font-family 'Maven Pro'
	font-weight 500