// Global

container()
	center: (app-width + (2 * app-gap))

body
	font-default()
	background color-primary
	background linear-gradient(to bottom, color-primary, color-secondary)

#app
	position relative
	box-sizing border-box

.container
	container()

.section
	container()
	padding 0 10px
	box-sizing border-box

.p-10
	padding-top 10px